﻿@using MvcCourse.Controllers
@model MvcCourse.Models.DocumentationFormModel
@using (Html.BeginUmbracoForm<DocumentationFormController>("Submit"))
{
    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.TextAreaFor(m => m.BodyText)
    </div>

    <input type="submit" value="Submit"/>
}