﻿@inherits UmbracoTemplatePage<MvcCourse.Models.DocumentationViewModel>
@{
    Layout = "Master.cshtml";  
}


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header">
                <a class="btn btn-default pull-right" href="@Model.Content.Url/edit">Edit</a>
                <h1>@Umbraco.Field("pageName")</h1>
            </div>

            @Umbraco.Field("bodyText")

            @if (Model.Content.LandingPages.Any())
            {
                <hr />

                <h4> Documentation Applies to Products:</h4>

                <ul>
                    @foreach (var landingPage in Model.Content.LandingPages)
                    {
                        <li><a href="@landingPage.Url">@landingPage.Name</a></li>
                    }
                </ul>
            }

            @if (!string.IsNullOrEmpty(Model.Content.Images))
               {
                var mediaFolders = Umbraco.TypedMedia(Model.Content.Images);
                <h4>Documentation media:</h4>
                if (mediaFolders != null)
                {
                    foreach (var image in mediaFolders.Children)
                    {
                      <img src="@image.GetCropUrl(height: 150, width: 150)" alt="..." class="img-thumbnail">
                    }
                }
            }
        </div>
        <div class="col-md-3">

            <ul class="nav nav-list">
                @foreach (var item in CurrentPage.Children)
                {
                    <li>
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            </ul>

            <dl class="nav nav-list" id="doc-history-list"></dl>

            <button id="doc-history" class="btn btn-default"
                    data-doc-id="@CurrentPage.Id">
                Load revision history
            </button>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <footer>
                Updated by @Umbraco.Field("writerName") on @Umbraco.Field("updateDate", formatAsDate: true)
            </footer>
        </div>
    </div>
</div>
<script src="/Scripts/website.js" type="text/javascript"></script>
