﻿@inherits UmbracoTemplatePage<Documentation>
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="colmd9">
            <div class="pageheader">
                <h1> Edit: @Umbraco.Field("pageName")</h1>
            </div>
            @Html.Action("Render", "DocumentationForm", new { model = Model.Content })
        </div>
    </div>
</div>